{% extends 'base.html' %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-2">
                 <div class="col-md-8">
                    <table class="table">
                        <tbody>
                        {% if user %}
                            <tr>
                                <td>ID</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td>Login</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Token</td>
                                <td>
                                    {% if token %}
                                        {{ token }}
                                    {% else %}
                                        Brak tokenu do wyswietlenia
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <p>Brak informacji do wyswietlenia </p>
                        {% endif %}
                        </tbody>
                    </table>
                 </div>
             </div>
        </div>
    </div>
{% endblock %}